asgiref==3.11.1
click==8.4.2
colorama==0.4.6
defusedxml==0.7.1
Django==5.2.4
joblib==1.5.3
nltk==3.10.0
pytz==2026.2
regex==2026.6.28
setuptools==83.0.0
sqlparse==0.5.5
tqdm==4.68.4
tzdata==2026.3
gunicorn==23.0.0
whitenoise==6.9.0
psycopg[binary]
dj-database-url